@import "styles/variables.scss";

.error-field {

    &.invalid .input-field,
    &.invalid .custom-datepicker {
        border: 2px solid red;
    }

    &__message {
        height: 24px;
        color: $color-danger;
        font-weight: bold;
        margin-top: 10px;
    }
}